name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    strategy:
      matrix:
        os: [ubuntu-latest]
        go: [1.21]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
    - name: Test
      run: go test -race ./...
    - name: Coverage
      run: go test -race -coverprofile=coverage.txt -covermode=atomic ./...
      if: matrix.go == 1.19 && matrix.os == 'ubuntu-latest'
    - name: Codecov
      uses: codecov/codecov-action@v1
      if: matrix.go == 1.19 && matrix.os == 'ubuntu-latest'
